// Palette
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$accent-color: #D41443;
$secondary-accent-color: #FFA5BA;
$social-icon-bgc: #FEA5BB;

// Fonts
$font-color: $primary-text-color;
$font-family: 'DM Sans', sans-serif;
$letter-spacing: 0.04em;