<section class="gallery">
  <div class="container container__gallery">
    <ul class="gallery__list">
      <li class="gallery__img-box gallery__img-box-1">
        <picture>
          <!-- Набір зображень для десктопних екранів -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/Desktop/Gallery/gallery-desk-1.png    1x,
              ./images/Desktop/Gallery/gallery-desk-1@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для планшетних екранів -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Tablet/Gallery/gallery-tab-1.png    1x,
              ./images/Tablet/Gallery/gallery-tab-1@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для мобільних екранів -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Mobile/Gallery/gallery-mob-1.png 1x,
              ./images/Mobile/Gallery/gallery-mob-1.png 2x
            "
            type="image/png"
          />

          <img
            class="gallery__img"
            src="./images/Mobile/Gallery/gallery-mob-1.png"
            alt="Фото с мороженым"
            width="138"
            height="138"
          />
        </picture>
      </li>

      <li class="gallery__img-box gallery__img-box-2">
        <picture>
          <!-- Набір зображень для десктопних екранів -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/Desktop/Gallery/gallery-desk-2.png    1x,
              ./images/Desktop/Gallery/gallery-desk-2@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для планшетних екранів -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Tablet/Gallery/gallery-tab-2.png    1x,
              ./images/Tablet/Gallery/gallery-tab-2@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для мобільних екранів -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Mobile/Gallery/gallery-mob-2.png 1x,
              ./images/Mobile/Gallery/gallery-mob-2.png 2x
            "
            type="image/png"
          />

          <img
            class="gallery__img"
            src="./images/Mobile/Gallery/gallery-mob-2.png"
            alt="Фото с мороженым"
            width="138"
            height="138"
          />
        </picture>
      </li>

      <li class="gallery__img-box gallery__img-box-3">
        <picture>
          <!-- Набір зображень для десктопних екранів -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/Desktop/Gallery/gallery-desk-3.png    1x,
              ./images/Desktop/Gallery/gallery-desk-3@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для планшетних екранів -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Tablet/Gallery/gallery-tab-3.png    1x,
              ./images/Tablet/Gallery/gallery-tab-3@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для мобільних екранів -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Mobile/Gallery/gallery-mob-3.png 1x,
              ./images/Mobile/Gallery/gallery-mob-3.png 2x
            "
            type="image/png"
          />

          <img
            class="gallery__img"
            src="./images/Mobile/Gallery/gallery-mob-3.png"
            alt="Фото с мороженым"
            width="138"
            height="138"
          />
        </picture>
      </li>

      <li class="gallery__img-box gallery__img-box-4">
        <picture>
          <!-- Набір зображень для десктопних екранів -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/Desktop/Gallery/gallery-desk-4.png    1x,
              ./images/Desktop/Gallery/gallery-desk-4@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для планшетних екранів -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Tablet/Gallery/gallery-tab-4.png    1x,
              ./images/Tablet/Gallery/gallery-tab-4@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для мобільних екранів -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Mobile/Gallery/gallery-mob-4.png 1x,
              ./images/Mobile/Gallery/gallery-mob-4.png 2x
            "
            type="image/png"
          />

          <img
            class="gallery__img"
            src="./images/Mobile/Gallery/gallery-mob-4.png"
            alt="Фото с мороженым"
            width="138"
            height="138"
          />
        </picture>
      </li>

      <li class="gallery__img-box gallery__img-box-5">
        <picture>
          <!-- Набір зображень для десктопних екранів -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/Desktop/Gallery/gallery-desk-5.png    1x,
              ./images/Desktop/Gallery/gallery-desk-5@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для планшетних екранів -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Tablet/Gallery/gallery-tab-5.png    1x,
              ./images/Tablet/Gallery/gallery-tab-5@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для мобільних екранів -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Mobile/Gallery/gallery-mob-5.png 1x,
              ./images/Mobile/Gallery/gallery-mob-5.png 2x
            "
            type="image/png"
          />

          <img
            class="gallery__img"
            src="./images/Mobile/Gallery/gallery-mob-5.png"
            alt="Фото с мороженым"
            width="138"
            height="138"
          />
        </picture>
      </li>

      <li class="gallery__img-box gallery__img-box-6">
        <picture>
          <!-- Набір зображень для десктопних екранів -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/Desktop/Gallery/gallery-desk-6.png    1x,
              ./images/Desktop/Gallery/gallery-desk-6@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для планшетних екранів -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Tablet/Gallery/gallery-tab-6.png    1x,
              ./images/Tablet/Gallery/gallery-tab-6@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для мобільних екранів -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Mobile/Gallery/gallery-mob-6.png 1x,
              ./images/Mobile/Gallery/gallery-mob-6.png 2x
            "
            type="image/png"
          />

          <img
            class="gallery__img"
            src="./images/Mobile/Gallery/gallery-mob-6.png"
            alt="Фото с мороженым"
            width="138"
            height="138"
          />
        </picture>
      </li>

      <li class="gallery__img-box gallery__img-box-7">
        <picture>
          <!-- Набір зображень для десктопних екранів -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/Desktop/Gallery/gallery-desk-7.png    1x,
              ./images/Desktop/Gallery/gallery-desk-7@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для планшетних екранів -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Tablet/Gallery/gallery-tab-7.png    1x,
              ./images/Tablet/Gallery/gallery-tab-7@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для мобільних екранів -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Mobile/Gallery/gallery-mob-7.png 1x,
              ./images/Mobile/Gallery/gallery-mob-7.png 2x
            "
            type="image/png"
          />

          <img
            class="gallery__img"
            src="./images/Mobile/Gallery/gallery-mob-7.png"
            alt="Фото с мороженым"
            width="138"
            height="138"
          />
        </picture>
      </li>

      <li class="gallery__img-box gallery__img-box-8">
        <picture>
          <!-- Набір зображень для десктопних екранів -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/Desktop/Gallery/gallery-desk-8.png    1x,
              ./images/Desktop/Gallery/gallery-desk-8@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для планшетних екранів -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Tablet/Gallery/gallery-tab-8.png    1x,
              ./images/Tablet/Gallery/gallery-tab-8@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для мобільних екранів -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Mobile/Gallery/gallery-mob-8.png 1x,
              ./images/Mobile/Gallery/gallery-mob-8.png 2x
            "
            type="image/png"
          />

          <img
            class="gallery__img"
            src="./images/Mobile/Gallery/gallery-mob-8.png"
            alt="Фото с мороженым"
            width="138"
            height="138"
          />
        </picture>
      </li>

      <li class="gallery__img-box gallery__img-box-9">
        <picture>
          <!-- Набір зображень для десктопних екранів -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/Desktop/Gallery/gallery-desk-9.png    1x,
              ./images/Desktop/Gallery/gallery-desk-9@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для планшетних екранів -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Tablet/Gallery/gallery-tab-9.png    1x,
              ./images/Tablet/Gallery/gallery-tab-9@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для мобільних екранів -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Mobile/Gallery/gallery-mob-9.png 1x,
              ./images/Mobile/Gallery/gallery-mob-9.png 2x
            "
            type="image/png"
          />

          <img
            class="gallery__img"
            src="./images/Mobile/Gallery/gallery-mob-9.png"
            alt="Фото с мороженым"
            width="138"
            height="138"
          />
        </picture>
      </li>

      <li class="gallery__img-box gallery__img-box-10">
        <picture>
          <!-- Набір зображень для десктопних екранів -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/Desktop/Gallery/gallery-desk-10.png    1x,
              ./images/Desktop/Gallery/gallery-desk-10@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для планшетних екранів -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Tablet/Gallery/gallery-tab-10.png    1x,
              ./images/Tablet/Gallery/gallery-tab-10@2x.png 2x
            "
            type="image/png"
          />
          <!-- Набір зображень для мобільних екранів -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Mobile/Gallery/gallery-mob-10.png 1x,
              ./images/Mobile/Gallery/gallery-mob-10.png 2x
            "
            type="image/png"
          />

          <img
            class="gallery__img"
            src="./images/Mobile/Gallery/gallery-mob-10.png"
            alt="Фото с мороженым"
            width="138"
            height="138"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
