<header>
    <div class="container">
        <div class="header">
            <a class="logo" href="./index.html">
                <img 
                src="./images/Mobile/Header-Hero/Group-199.png" 
                alt="logo"
                width="199"
                height="50">
            </a>
            <nav>
                <ul class="header__list">
                    <li class="header__item">
                        <a class="header__link" href="#">Home</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link" href="#">About us</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link" href="">How it's made?</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link" href="#">Our products</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link" href="#">Contact</a>
                    </li>
                </ul>
            </nav>
            <button class="burger-menu__btn-open" data-menu-open>
                <svg class="burger-menu__icon-open" width="14" height="14">
                   <use href="./images/sprite.svg#icon-Burger-mob-tab"></use>
                </svg>
             </button>
            <button class="btn-modal-open tablet-desktop" type="button" data-modal-open>Buy now</button>
        </div>
        <div class="burger-menu">
            <button class="burger-menu__btn-close" data-menu-close>
                <svg class="burger-menu__icon-close" width="14" height="14">
                   <use href="./images/sprite.svg#icon-burger-close-mob-tab"></use>
                </svg>
             </button>
            <button class="btn-modal-open" type="button" data-modal-open>Buy now</button>
            <ul class="burger-menu__list">
                <li class="burger-menu__item">
                    <a class="burger-menu__link" href="#">Home</a>
                </li>
                <li class="burger-menu__item">
                    <a class="burger-menu__link" href="#">About us</a>
                </li>
                <li class="burger-menu__item">
                    <a class="burger-menu__link" href="#">How it's made?</a>
                </li>
                <li class="burger-menu__item">
                    <a class="burger-menu__link" href="#">Our products</a>
                </li>
                <li class="burger-menu__item">
                    <a class="burger-menu__link" href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="hero">
            <h1 class="hero__title">ice cream made with <span class="hero__text-passion">passion</span></h1>
            <ul class="hero__list-btn">
                <li class="hero__item">
                    <a class="hero__link" href="#">Products</a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">How it's made?</a>
                </li>
            </ul>
            <img class="hero__img-iceCream" src="#" alt="iceCream">
            <div class="hero__background-circle"></div>
            <!-- Все що нище сховане до tablet -->
            <div class="hero__milk">
                <img class="hero__img-milk" src="#" alt="milk">
                <p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </div>
            <img class="hero__img-girl" src="#" alt="girl">
            <ul class="hero__list-food-establishment">
                <li class="hero__cafes">
                    <p class="hero__cafes-text"><span class="hero__cafes-number">16</span> cafes</p>
                </li>
                <li class="hero__food-trucks">
                    <p class="hero__food-trucks-text"><span class="hero__food-trucks-number">23</span> food trucks</p>
                </li>
            </ul>
        </div>
    </div>
</header>